body{
    font-family: 'Arial', sans-serif; 
    margin:0; 
    padding: 0;
    background-color: #f4f4f4; 
    color:#333;
    line-height: 1.4; 
} 

.container{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header{
    background-color: #333;
    color:white;
    padding: 20px 0;
    text-align: center;
}

header h1{
    margin:0;
    font-size: 3.5rem;
}

nav ul{
    display: inline;
    margin-right: 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

.hero{
    background-image: url('./images/bg.jpeg');
    background-size: cover;
    background-position: center;
    padding: 550px 0;
    color: white;
    text-align: center;
    position: relative;
}

.hero::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent overlay */
    z-index: 1; /* Puts the overlay behind the text */
}

.hero h2, .hero p {
    position: relative;
    z-index: 2; /* Keeps the text above the overlay */
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
}

/* Gallery Section */
#gallery{
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

#gallery h2 {
    margin-bottom: 40px;
    font-size: 2.5rem;
}
